@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ZMiany wprowadzane na rzecz testowania GitHuba - projekt publiczny - testowanie wprowadzania zmian z innych kont. - Te zmiany zostały wprowadzone z innego konta - sklonowany projekt od uzytkownika ReposMaster (ustawiony jako publiczny niestety nie pozwalał na pushowanie - dopiero zaproszenie użytkownika a.kesy@albatros-aluminium.com pozwoliło temu uzytkownikowi na pushowanie zmian. ) 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Te zmiany zostały wprowadzone z konta na którym jest przypisany projekt - ReposMaster</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>TE ZMIANY ZOSTAŁY WPROWADZONE NA KONCIE ReposMaster POPRZEZ PRZEGLĄDARKĘ ABY PRZTESTOWAĆ SYNCHRONIZOWANIE PROJEKTU LOKALNIE ZE ZMIANAMI W REPOZYTORIUM ZDALNYM</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
